main {
  padding: 20px 0;
}
.introduction-para {
  padding: 20px 0;
}

.research-row {
  padding: 20px 0;
}

.research-image {
  width: 240px;
  height: 150px;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
  .introduction-container .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .introduction-para {
    width: 80%;
    margin: 0 auto;
  }
}
